<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="my-4">
            <%= title %>
        </h1>
        <form action="/admin/students/upload-csv" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="csvFile">Upload CSV File</label>
                <input type="file" name="csvFile" accept=".csv" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</body>

</html>